
body{
    overflow: hidden;
    color: white;
    background-image:url(./image/imageedit_2_6142330562.jpg) ;
    background-repeat:no-repeat ;
    background-size: cover;
    
}
h2{
    position: relative;
    float: left;
    left: 50px;
    font-size: 40px
}
ul,li{
    float: right;
    display:inline-block;
    margin-right: 10px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    

}
h1{
    position: relative;
    top: 300px;
    left: 200px;
    text-align: center;
    font-size: 50px;
    
}
p{
    position: relative;
    top: 300px;
    text-align: center;
    font-size :20px;
    left: -50px; 
}
#buttons{
    position: relative;
    top: 320px;
    text-align: center;
}
input{
    border-radius :40px;
    height: 40px;
    width: 150px;
    border: 1px solid green;
}
#watchbtn{
    background-color: rgb(108, 172, 140);
}
li:hover {
    border-bottom: 3px solid green; /* Change background color on hover */
}
input:hover{
    height: 50px; 
    width: 200px;
}



